@charset "UTF-8";
header {
  background-color: black !important;
  /* Aplicamos Flex al header */
}
header .Menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header .LogoHeader {
  align-items: flex-start;
  margin: 0px;
}
header .logo-header {
  width: 200px;
  height: 180px;
  padding: 0px;
  margin: 0px;
  border-radius: 50px;
}
header nav {
  color: #808000;
  font-size: 20px;
}
header .navbar-custom {
  background-color: black; /* Cambia esto al color que desees */
}
header .navbar-custom .navbar-nav .nav-link {
  color: #fff; /* Asegúrate de que el texto sea visible */
}
header .navbar-custom .navbar-brand img {
  max-height: 50px;
}
header .navbar-custom .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1);
}
header .navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
header .contenedor_iconos_Header .custom-link {
  color: #fff;
}
header .navbar-custom .contenedor_iconos_Header {
  display: flex;
  align-items: center;
}
header .Nav-Menu {
  flex-wrap: wrap;
  align-items: center;
}
header .Nav-Menu a {
  flex-wrap: wrap;
  align-items: center;
  margin-left: 40px;
}
header .contenedor_iconos_Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
header .Iconos-Header1 {
  margin-right: 12px;
  padding: 0px;
  align-items: end;
}
header .Iconos-Header2 {
  margin: 1px;
  margin-right: 15px;
  padding: 0px;
  align-items: end;
}

footer {
  background-color: black !important;
  align-items: center !important;
  justify-items: center !important;
}
footer div div h5 {
  color: #808000;
}
footer div div p {
  color: #808000;
}
footer div div img {
  margin-right: 200px !important;
}
footer div div .custom-link {
  color: #808000;
  text-decoration: none; /* elimina subrayado */
  transition: 1s;
}
footer div div .custom-link:hover {
  color: #c0ee09; /* Opcional: color al pasar el ratón */
}

/* Esto es del index Temporada invierno */
#Parrofo1-Home {
  color: black;
}

.imagen-principal-main {
  width: 100px;
}

.imagen-principal-contacto {
  width: 500px !important;
}

.Bordes-contenedor {
  border: 1px solid black;
  margin: 15px;
  padding: 25px;
}

.Icono-Diamante {
  transition: 2s;
}
.Icono-Diamante:hover {
  transform: rotate(360 deg);
}

section {
  /* Clases para imagenes carruseles */
}
section h3 {
  color: #aea04b;
  display: none;
}
section #divCarritoCompra {
  border: 1px solid #808000; /* 1px de grosor, estilo sólido, color #808000 (olive) */
  width: 300px; /* Cambia este valor por el ancho que desees */
  height: 200px; /* Cambia este valor por el alto que desees */
}
section .product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .product-image {
  width: 200%;
  height: 400px; /* Ajusta esta altura según tus necesidades */
  object-fit: cover;
}

/* BOTONES */
.btn-primary {
  background-image: linear-gradient(to top, #484e1e, #808000);
  color: #f1f1f1 !important;
  padding: 1rem 1rem !important;
  margin-top: 1rem !important;
  font-size: 1rem !important;
  text-decoration: none !important;
  font-weight: bold !important;
  border-radius: 1rem !important;
  width: 150px !important;
  text-align: center !important;
  border: none !important;
  box-shadow: 12px 12px 20px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 12px 12px 20px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 12px 12px 20px 5px rgba(0, 0, 0, 0.6);
}

/* footer */
@media (max-width: 767.98px) {
  footer #Imagen-footer-logo {
    text-align: center; /* Centra la imagen en pantallas pequeñas */
  }
  .navbar-custom .navbar-brand img {
    max-height: 30px;
  }
}
/* Acomoda Imagen Paara Vista en celular, de los productos que vendemos */
@media (max-width: 576px) {
  .product-image {
    height: 350px;
  }
}
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #808000 !important;
}

h4 {
  color: #808000 !important;
}

h6 {
  color: #808000 !important;
}

a {
  text-decoration: none !important;
  color: #808000 !important;
}

body {
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color: whitesmoke;
}
body .linea-con-texto {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}
body .linea-con-texto::before,
body .linea-con-texto::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}
body .linea-con-texto:not(:empty)::before {
  margin-right: 0.25em;
}
body .linea-con-texto:not(:empty)::after {
  margin-left: 0.25em;
}
body .Texto-Alcomienzo {
  text-align: left !important;
}

/*# sourceMappingURL=Style.css.map */
