
$color-boton-carrito : #808000;

    /* BOTONES */

    
    .btn-primary {
        
        background-image: linear-gradient(to top,#484e1e, $color-boton-carrito,);
        
        color: #f1f1f1 !important;
        padding: 1rem 1rem !important;
        margin-top: 1rem !important;
        font-size: 1rem !important;
        text-decoration: none !important;
        font-weight: bold !important;
        border-radius: 1rem !important;
        width: 150px !important;
        text-align: center !important;
        border: none!important;

        box-shadow: 12px 12px 20px 5px rgba(0,0,0,0.6);
-webkit-box-shadow: 12px 12px 20px 5px rgba(0,0,0,0.6);
-moz-box-shadow: 12px 12px 20px 5px rgba(0,0,0,0.6);
    }


 