
    
   

    
    

    /* footer */
    
    @media (max-width: 767.98px) {
        
        footer #Imagen-footer-logo {
            text-align: center; /* Centra la imagen en pantallas pequeñas */
           
        }

        .navbar-custom .navbar-brand img {
            max-height: 30px;
        }
    }
    
    
  
    
    /* Acomoda Imagen Paara Vista en celular, de los productos que vendemos */
    @media (max-width: 576px) {
        .product-image {
            height: 350px;
           
        }
    }
    

    