

    /* Esto es del index Temporada invierno */
    #Parrofo1-Home {
    
        color: black;
    
    
    }

    .imagen-principal-main {
    
        width: 100px;
    }


    .imagen-principal-contacto {
    
        width: 500px !important;
    }

    .Bordes-contenedor{

        border: 1px solid black;
        margin: 15px;
        padding: 25px;

    }

    .Icono-Diamante{

        transition: 2s;

        &:hover{

            transform: rotate(360 deg);

        }
    }