
$color-letras : #808000;

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        color:$color-letras !important;
    
    
    }
    
    h4 {
        color:$color-letras !important;
    
    
    }
    h6 {
        color:$color-letras !important;
    
    
    }

    a {
        text-decoration: none !important;
        color: $color-letras !important;
    
    }
    


    body {
    
            font-family:'Times New Roman', Times, serif;
            color: black;
            background-color: whitesmoke;



                
            
            
            .linea-con-texto {

                display: flex;
                align-items: center;
                text-align: center;
                margin: 20px 0;
            }
            
            .linea-con-texto::before,
            .linea-con-texto::after {
                content: '';
                flex: 1;
                border-bottom: 1px solid #000;
            }
            
            .linea-con-texto:not(:empty)::before {
                margin-right: .25em;
            }
            
            
            .linea-con-texto:not(:empty)::after {
                margin-left: .25em;
            }

            .Texto-Alcomienzo {
                text-align: left !important;
            }

    }